@using QuakeAnalyst.Repo
@Model = GeoLocationsModel;
@{
    ViewData["Title"] = "GeoLocations";
}
<h1>@ViewData["Title"]</h1>

<p>GeoLocations are the defined geographic locations especially cities.</p>

<ol>
@foreach(GeoLocation location in Model.GeoLocations){
    <li><table>
                <tr><td>Name:</td><td>@location.Name</td></tr>
                <tr><td>CityCode</td><td>@location.CityCode</td></tr>
                <tr><td>Population</td><td>@location.Populations</td></tr>
    </table></li>
}
</ol>