@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuakeAnalyst</h1>
    <p>Learn about <a href="Home/GeoLocations">predefined locations</a>.</p>
</div>
